<div class="mission">
  <h2 class="mission-statement">Be the best Web Developer you can be.</h2>
  <div class="mission-button"><%= link_to '<i class="material-icons right">create</i>Enter'.html_safe, course_index_path , class: "waves-effect waves-light btn" %></div>
</div>