// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #display-answer {
//   background-color: none;
//   padding: 0.8em;
//   letter-spacing: 0.1em;
//   transition: 0.3s;
//   color: black;
// }

// #display-answer:hover {
//   background-color: #3e8e3e;
//   color: white;
// }

// #display-answer.toggled {
//   background-color: #3e8e3e;
// }

#altcontainer {
  background-color:#fff;
  font-size:120%;
  line-height:1.7em;
}
#answerbuttoncontainer {
  position:relative;
  padding:20px 0;
}
.answerbutton {
  background-color:#4CAF50;
  padding:12px 30px !important;
  font-size:17px;
}
/* The radiocontainer */
.radiocontainer {
  background-color:#f1f1f1;
  display: block;
  position: relative;
  padding:10px 10px 10px 50px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 9px;
  left: 5px;
  height: 19px;
  width: 10px;
  background-color: #f1f1f1;
  border-radius: 50%;
}
.checkedlabel {
  background-color:#ddd;
}

.radiocontainer:hover {
  background-color: #ddd;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #3e8e3e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
