.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
.main-content {
  background-color: #141b28;
  color: #fff;
}
.contact-list {
  line-height: 1.5rem;
}
.mission {
  background-image: url(hf-servers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-color: #141b28;
  border: .05px solid rgb(104, 63, 63);
  color: #fff;
  text-align: center;  
  padding: 4em;  
  margin: 2em;
}
.mission-statement {
  font-weight: 800;
  font-family: Sailec Bold;
}
.mission-button {
  padding: 2rem;
}
